* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-color: blueviolet;
}

@media screen and (min-width:1400px) {

header {
    color: white;
    width: 90%;
    height: 20vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.icon {
    margin: 0 10px 0 0;
}

.h1 {
    font-size: 30px;
}

main {
    width: 100%;
}

section {
    color: white;
    display: flex;
    width: 90%;
    margin: auto;
    
}

.img {
    width: 55%;
    text-align: center;
}

.about {
    width: 45%;
}

.font {
    font-size: 40px;
    margin: 40px 0 30px 0;
}

p {
    font-size: 25px;
    margin-bottom: 40px;
}

.a {
    text-decoration: none;
    color: inherit;
    background-color: violet;
    box-shadow: 3px 3px 4px rgb(89, 89, 89);
    padding: 15px 50px;
    border-radius: 30px;
    transition: .4s;
    display: inline-block;
}

.a:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(89, 89, 89);
}

.section {
    display: flex;
    text-align: left;
    width: 90%;
    height: 10vh;
    align-items: center;
    justify-content: end;
}

.icon2 {
    border: 1px solid white;
    border-radius: 30px;
    padding: 0 10px;
    transition: .3s;
    color: white;
}

.icon2:hover {
    color: rgb(255, 50, 255);
    border-color: rgb(255, 50, 255);
}

.m {
    margin: 0 10px;
}

}

@media screen and (min-width:900px) {

header {
    color: white;
    width: 90%;
    height: 20vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.icon {
    margin: 0 10px 0 0;
}

.h1 {
    font-size: 30px;
}

main {
    width: 100%;
}

section {
    color: white;
    width: 90%;
    margin: auto;  
}

.img {
    width: 100%;
    text-align: center;
}

.about {
    width: 100%;
}

.font {
    font-size: 40px;
    margin: 40px 0 30px 0;
}

p {
    font-size: 25px;
    margin-bottom: 40px;
}

.a {
    text-decoration: none;
    color: inherit;
    background-color: violet;
    box-shadow: 3px 3px 4px rgb(89, 89, 89);
    padding: 15px 50px;
    border-radius: 30px;
    transition: .4s;
    display: inline-block;
}

.a:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(89, 89, 89);
}

.section {
    display: flex;
    text-align: left;
    width: 90%;
    height: 8vh;
    align-items: center;
    justify-content: end;
}

.icon2 {
    border: 1px solid white;
    border-radius: 30px;
    padding: 0 10px;
    transition: .3s;
    color: white;
}

.icon2:hover {
    color: rgb(255, 50, 255);
    border-color: rgb(255, 50, 255);
}

.m {
    margin: 0 10px;
}

}

@media screen and (min-width:100px) and (max-width:899px) {

header {
    color: white;
    width: 90%;
    height: 20vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.icon {
    margin: 0 10px 0 0;
}

.h1 {
    font-size: 30px;
}

main {
    width: 100%;
    text-align: center;
}

section {
    color: white;
    width: 90%;
    margin: auto;  
}

.img {
    width: 100%;
}

.about {
    width: 100%;
}

.font {
    font-size: 40px;
    margin: 40px 0 30px 0;
}

p {
    font-size: 25px;
    margin-bottom: 40px;
}

.a {
    text-decoration: none;
    color: inherit;
    background-color: rgb(255, 255, 255);
    color: violet;
    box-shadow: 3px 3px 4px rgb(89, 89, 89);
    padding: 15px 110px;
    border-radius: 30px;
    transition: .4s;
    display: inline-block;
}

.a:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(89, 89, 89);
}

.section {
    display: flex;
    text-align: left;
    width: 90%;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.icon2 {
    border: 1px solid white;
    border-radius: 30px;
    padding: 0 10px;
    transition: .3s;
    color: white;
}

.icon2:hover {
    color: rgb(255, 50, 255);
    border-color: rgb(255, 50, 255);
}

.m {
    margin: 0px 10px;
}

}